@model Web.Model.BladeServerEditViewData

@{
    View.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Server</h2>

<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    
     <div class="editor-label">
            @Html.LabelFor(model => model.BladeServer.Hostname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BladeServer.Hostname)
            @Html.ValidationMessageFor(model => model.BladeServer.Hostname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BladeServer.ServerRole)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BladeServer.ServerRole)
            @Html.ValidationMessageFor(model => model.BladeServer.ServerRole)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BladeServer.IPAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BladeServer.IPAddress)
            @Html.ValidationMessageFor(model => model.BladeServer.IPAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BladeServer.OS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BladeServer.OS)
            @Html.ValidationMessageFor(model => model.BladeServer.OS)
        </div>
        
    <div class="editor-label">
            Enclosure
        </div>
        <div class="editor-field">
          @Html.DropDownListFor(c => c.BladeServer.BladeChassis.ChassisID, Model.Enclosures)            
        </div>
       
        <p>
            <input type="submit" value="Save" />
        </p>
          
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

